streamlit
streamlit_autorefresh

numpy
pandas
scipy
matplotlib

scikit-learn
opencv-python
opencv-contrib-python
imutils

face_recognition
dlib
pyfirmata

playsound==1.2.2
pyttsx3
gTTS
requests


